<div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/clients']">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Clients</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Clients</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th><i class="fas fa-user"></i> Name</th>
                <th><i class="fas fa-credit-card"></i> Credit Cards</th>
                <th class="text-center"><i class="fas fa-info-circle"></i> Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th><i class="fas fa-user"></i> Name</th>
                <th><i class="fas fa-credit-card"></i> Credit Cards</th>
                <th class="text-center"><i class="fas fa-info-circle"></i> Actions</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let c of clients">
                <td>{{c.name}}</td>
                <td>{{c.totalCards}}</td>
                <td class="text-center">
                  <div class="actions-links">
                      <a routerLink="{{c.id}}" title="View User">
                          <i class="fas fa-eye"></i>
                      </a>
                      <a title="Delete User" (click)="deleteUser(c)">
                          <i class="fas fa-trash-alt"></i>
                      </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>