<div class="container-fluid">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-4 text-gray-800">Cliente #{{client.id}}</h1>
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="far fa-credit-card fa-sm text-white-50"></i> 
			Create Credit Card
		</a>
	</div>

	<div class="client-profile">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user"></i> {{client.name}}</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 19px, 0px);">
						<a class="dropdown-item" href="#">Delete Client</a>
						<a class="dropdown-item" href="#">Edit Client</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-4" *ngIf="client.address">
						<strong class="text-gray-800">Adress:</strong> {{client.address}}
					</div>
					<div class="col-xs-12 col-sm-4"  *ngIf="client.city">
						<strong class="text-gray-800">City:</strong> {{client.city}}
					</div>
					<div class="col-xs-12 col-sm-4"  *ngIf="client.phone">
						<strong class="text-gray-800">Phone:</strong> {{client.phone}}
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="content-cards" *ngIf="cards.length > 0">
	    <h2 class="h3 mt-4 mb-4 text-gray-800">Credit Cards</h2>
		<div class="row">
			<div class="col-xl-3 col-md-6 mb-4" *ngFor="let card of cards">
				<div class="card border-left-primary shadow h-100">
					<div class="card-body pad-card">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{card.type}}</div>
								<div class="font-small mb-0 font-weight-bold text-black-600">{{card.number | creditCardFormat}}</div>
								<div class="font-small mb-0 text-black-600">CCV {{card.ccv}}</div>
							</div>
							<div class="col-auto">
								<a href="#" routerLink="/card/{{client.id}}/{{card.id}}">
									<i class="far fa-credit-card fa-2x text-gray-800"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card" *ngIf="cards.length == 0">
		<div class="card-body">
			<p>Este cliente no tiene tarjetas</p>
		</div>
	</div>

</div>