<div class="container-fluid">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-4 text-gray-800">Cliente #{{client.id}}</h1>
		<div>
			<a class="d-none col-whi d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2" (click)="showPopUp(contentClient)">
				<i class="fas fa-user fa-sm text-white-50"></i> 
				Edit Client
			</a>
			<a class="d-none col-whi d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="showPopUp(contentCard)">
				<i class="far fa-credit-card fa-sm text-white-50"></i> 
				New Credit Card
			</a>
		</div>
	</div>

	<div class="client-profile">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user"></i> {{client.name}}</h6>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-4" *ngIf="client.address">
						<strong class="text-gray-800">Adress:</strong> {{client.address}}
					</div>
					<div class="col-xs-12 col-sm-4"  *ngIf="client.city">
						<strong class="text-gray-800">City:</strong> {{client.city}}
					</div>
					<div class="col-xs-12 col-sm-4"  *ngIf="client.phone">
						<strong class="text-gray-800">Phone:</strong> {{client.phone}}
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="content-cards" *ngIf="cards.length > 0">
	    <h2 class="h3 mt-4 mb-4 text-gray-800">Credit Cards</h2>
		<div class="row">
			<div class="col-xl-3 col-md-6 mb-4" *ngFor="let card of cards">
				<div class="card border-left-primary shadow h-100">
					<div class="card-body pad-card">
						<a (click)="deleteCard(card)" class="icon-delete-card text-danger">
							<i class="fas fa-times-circle"></i>
						</a>
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{card.type}}</div>
								<div class="font-small mb-0 font-weight-bold text-black-600">{{card.number | creditCardFormat}}</div>
								<div class="font-small mb-0 text-black-600">CCV {{card.ccv}}</div>
							</div>
							<div class="col-auto">
								<a href="#" routerLink="/card/{{client.id}}/{{card.id}}">
									<i class="far fa-credit-card fa-2x text-gray-800"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card" *ngIf="cards.length == 0">
		<div class="card-body">
			<p>Este cliente no tiene tarjetas</p>
		</div>
	</div>

</div>


<ng-template #contentClient let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Edit Client</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.close('cancel')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="contain-form-client">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" [(ngModel)]="client.name" name="name" required maxlength="50" placeholder="Enter Name">
			</div>
			<div class="form-group">
				<label>Address</label>
				<input type="text" class="form-control" [(ngModel)]="client.address" name="address" maxlength="100" placeholder="Enter Address">
			</div>
			<div class="form-group">
				<label>City</label>
				<input type="text" class="form-control" [(ngModel)]="client.city" name="city" maxlength="30" placeholder="Enter City">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="number" class="form-control" [(ngModel)]="client.phone" name="phone" max="20" maxlength="20" placeholder="Enter Phone">
			</div>
		</div>
	
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close('cancel')">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="modal.close('save-client')">Save</button>
	</div>
</ng-template>
		  


<ng-template #contentCard let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Add Credit Card</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.close('cancel')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="contain-form-client">
			<div class="form-group">
				<label>Type</label>
				<input type="text" class="form-control" [(ngModel)]="userCard.type" name="type" required maxlength="30" placeholder="Enter type">
			</div>
			<div class="form-group">
				<label>Number</label>
				<input type="text" class="form-control" [(ngModel)]="userCard.number" name="number" maxlength="16" minlength="16" placeholder="Enter number">
			</div>
			<div class="form-group">
				<label>CCV</label>
				<input type="text" class="form-control" [(ngModel)]="userCard.ccv" name="ccv" maxlength="4" minlength="3" placeholder="Enter ccv">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close('cancel')">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="modal.close('save-card')">Save</button>
	</div>
</ng-template>